{% load i18n %} {% load static %} {% block css %}
<style>
  .about-section {
    padding: 100px 0;
    background-color: var(--light-gray);
  }

  .about-content h2 {
    font-family: "Playfair Display", serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--primary-black);
    margin-bottom: 25px;
    line-height: 1.3;
  }

  .about-content p {
    color: var(--medium-gray);
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 20px;
  }

  @media (max-width: 768px) {
    .about-content h2 {
      font-size: 2rem;
    }
  }
</style>
{% endblock %} {% if about_us %}
<section class="about-section">
  <div class="container">
    <div class="row d-flex justify-content-stretch align-items-center g-5">
      <div class="col-lg-6">
        <div class="about-image-wrapper">
          <img style="height: 500px; width: 100%; object-fit: cover" src="{{ about_us.image.url }}"
            alt="{{ about_us.title }}" class="img-fluid" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-content text-justify">
          <h2>{{ about_us.title }}</h2>
          <p>{{ about_us.content }}</p>
          <p class="fw-bold text-corporate-red">Engineer, Amensisa Dereje</p>
          <a href="{% url 'about' %}" class="btn btn-corporate-red">
            {% trans "Learn More About Us" %}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}