{% load i18n %} {% load static %} {% block css %}
<style>
  .excellence-section {
    padding: 100px 0;
    background-color: var(--primary-light);
  }

  .excellence-card {
    background: var(--light-gray);
    border: none;
    border-radius: 0;
    padding: 30px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
  }

  .excellence-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  }
</style>
{% endblock %} {% if otech_excellence %}
<section class="excellence-section">
  <div class="container">
    <div class="col-12 text-center">
      <h2 class="section-title display-4">
        {% trans "Transforming Futures with Innovative Excellence" %}
      </h2>
      <p class="lead text-muted">
        {% trans "OTech pioneers innovation, shaping brighter futures for
        industries and communities through cutting-edge technology solutions."
        %}
      </p>
    </div>
    {% for excellence in otech_excellence %}
    <div class="row d-flex justify-content-stretch align-items-center g-5 mb-5">
      <div class="col-lg-6">
        <div class="">
          <img
            src="{{ excellence.image.url }}"
            alt="{{ excellence.title1 }}"
            style="
            height: auto;
            width:100%
            object-fit: cover;
            "
            class="img-fluid"
          />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-content">
          <div class="excellence-card">
            <h4 class="value-title">{{ excellence.title1 }}</h4>
            <p class="service-description">{{ excellence.content1 }}</p>
          </div>

          {% if excellence.title2 %}
          <div class="excellence-card">
            <h4 class="value-title">{{ excellence.title2 }}</h4>
            <p class="service-description">{{ excellence.content2 }}</p>
          </div>
          {% endif %} {% if excellence.title3 %}
          <div class="excellence-card">
            <h4 class="value-title">{{ excellence.title3 }}</h4>
            <p class="service-description">{{ excellence.content3 }}</p>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endif %}
